{% extends "base.html" %}

{% block title %}Thanh toán{% endblock %} 

{% block head_css %}
{{ super() }}
    <style>
        body {
            background-color: #f5f5f5 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0.125rem;
        }

        
        .row-container {
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center; /* đảm bảo căn giữa dọc */
            background-color: white;
            padding: 0 2rem; /* chỉnh padding top-bottom = 0 để không lệch dọc */
            height: 55px;
            border-radius: 3px;
            margin-bottom: 15px;
        }

        .text-product {
            padding: 10px 15px;
            width: 700px;
            display: flex;
            justify-content: start;
            align-items: center;
        }

        .text-price {
            padding: 10px 20px;
            width: 125px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    
        .text-amount {
            padding: 10px 20px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        .text-total {
            padding: 10px 20px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }   

        .btn-volumn
        {
            width: 30px;
            height: 30px;
            border: 1px solid #a6a6a6;
            background-color: #f9f9f9;
            padding-bottom: 3px;
        }

        .text-field-amount
        {
            width: 50px;
            height: 30px;
            text-align: center;  
        }

        .text-label
        {
            font-size: large;
            font-weight: 500;
        }

        .btn-purchase
        {
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center; 
            transition: all 0.3s ease;
            background-color: #424242;     
            color: #e1e1e1;;   
            cursor: pointer;      
            font-size: 1rem;  
            margin-left: auto;
        }

        .btn-purchase:hover
        {
            background-color: #000000; 
        }

        .currency {
            font-size: 0.75em;
            vertical-align: middle;
            position: relative;
            top: -1.75px;
            margin-left: 1px;      
        }
        
        .field-purchase {
            display: flex;
            flex-direction: column;    
            align-items: flex-end;  
            gap: 10px;                   
            margin-top: 25px;
            margin-right: 15px;     
        }

        .order-header {
            text-align: center;      
            font-size: 2rem;         
            font-weight: bold;      
            margin-top: 0;
            margin-bottom: 20px;            
            color: #333;              
        }



    </style>
{% endblock %}

{% block content %}
    <h2 class="order-header">Đơn đặt hàng</h2>

    <div class="row-container text-label" style="background-color: #424242; height: 65px;"> 
        <p class="text-product" style="color: #ffffff;">Sản phẩm</p>
        <p class="text-price" style="color: #ffffff;">Đơn giá</p>
        <p class="text-amount" style="color: #ffffff;">Số lượng</p>
        <p class="text-total" style="color: #ffffff;">Thành tiền</p>
    </div>  


    {% for cart_item in cart_items %}
        <div class="row-container"> 
            <a href="{{ url_for('main.product_detail', id=cart_item.product.id, slug=cart_item.product.name|replace(' ', '-')) }}" class="text-product text-decoration-none text-dark">
                <img src="{{ url_for('static', filename='assets/images/products/' + cart_item.product.img_file) }}" alt="{{ cart_item.product.name }}" style="width:50px; height:50px; margin-right:10px;">
                <span>{{ cart_item.product.name }}</span>
            </a>
            
            <p class="text-price">
                {{ "{:,.0f}".format(cart_item.product.price).replace(",", ".") }}<span class="currency">₫</span>
            </p>

            <p class="text-amount">{{ cart_item.quantity }}</p>
            
            <p class="text-total">{{ "{:,.0f}".format(cart_item.product.price * cart_item.quantity).replace(",", ".") }}<span class="currency">₫</span></p>
        </div>
    {% endfor %}


    <div class="field-purchase">
        <div style="text-align: right; background-color: #cdcdcd; margin-right: -5px; margin-bottom: 5px; padding: 10px 10px;">
            <p class="text-label">Tổng số tiền&nbsp;(<span>{{ cart_items|length }} sản phẩm</span>): {{ "{:,.0f}".format(total).replace(",", ".") }}<span class="currency">₫</span></p>
        </div>
        <form method="POST" action="{{ url_for('main.checkout') }}">
            {% for item in cart_items %}
                <input type="hidden" name="selected_items" value="{{ item.id }}">
            {% endfor %}
            <button type="submit" class="btn-purchase">Xác nhận đặt hàng</button>
        </form>
    </div>



{% endblock %}

{% block scripts %}
{% endblock %}
