{% extends "base.html" %}

{% block title %}Trang Chủ{% endblock %} <!-- Tên tab -->

{% block head_css %}
{{ super() }}
    <style>
        /* index.html css */
        .col-5th {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .card-body p, .card-body h5 {
            margin-bottom: 0.3rem;
        }
        
        .card:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            transition: 0.2s ease;
        }

        .card-title {
            display: -webkit-box;
            -webkit-line-clamp: 1;      
            line-clamp: 1;  
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;    
            height: 1.67rem;                
            line-height: 1.5rem;  
            font-size: 1.2rem;    

            margin-bottom: 0.3rem;
        }

        .card-img-top {
            border-radius: 8px;
            padding: 4px;
        }

        .card-text {
            margin-bottom: 0.2rem;
        }

        .price-text {
            color: #e60000;   
            font-weight: 500;   
            font-size: 1.36rem;    

            margin-bottom: 0rem !important;
        }

        .stock-text {
            margin-top: 0rem !important;
        }
        /* end index.html css */
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products%}
        <div class="col-5th mb-4">
            <a href="{{ url_for('main.product_detail', id=product.id) }}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm" style="height: 450px;">
                <img src="{{ url_for('static', filename='images/product1.jpg') }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text price-text">{{ "{:,.0f}".format(product.price).replace(",", ".") }}đ</p>
                        {%if product.stock > 0 %}
                            <p class="stock-text text-success"> Còn hàng </p>
                        {% else %}
                            <p class="stock-text text-secondary"> Hết hàng </p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <!-- Tùy chỉnh JS -->
{% endblock %}